<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NodeChat</title>
    <style>
        #logout-div {
            text-align: right;
        }
        #outer-container {
            margin: auto;
            text-align: center;
            width: 70%;
        }
    </style>
</head>
<body>
    <div id="outer-container">
        <div id="logout-div"><button>Logout</button></div>
        <h1>NodeChat</h1>
        <div>Group Alpha</div>
        <div>Group Sierra 5</div>
    </div>
</body>
</html>