<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NodeChat</title>
    <style>
        #outer-container {
            text-align: center;
        }
        input {
            text-align: center;
        }
        input::placeholder {
            text-align: center;
        }
        .input-container {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div id="outer-container">
        <h1>NodeChat</h1>
        <form action="login" method="post">
            <div class="input-container"><input id="username" type="text" name="username" placeholder="username"></div>
            <div class="input-container"><input id="password" type="password" name="password" placeholder="password"></div>
            <div class="input-container"><input type="submit" value="Login"></div>
        </form>
        <div>By Jeffrey Matthews</div>
    </div>
</body>
</html>